name: Docs

on:
  - push
  - pull_request

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Create environment for package
        shell: bash
        run: |
          . devtools/scripts/initialize_conda.sh
          conda activate
          python devtools/scripts/create_conda_env.py -n=docs -p=3.7 devtools/conda-envs/test_env.yaml
          conda activate docs
          python -m pip install . --no-deps

      - name: Build docs
        shell: bash
        run: |
          . devtools/scripts/initialize_conda.sh
          conda activate docs
          # Required to load docstrings sample module inside docs/
          export PYTHONPATH=$(pwd)
          mkdocs build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
        # We want to test docs building in PR, but we we
        # will only deploy if we are on master
        if: github.ref == 'master'
